# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional, keep if you want personal settings private)
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Generated plugin registrants
lib/generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json

# iOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GoogleService-Info.plist

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

/# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Web (Firebase messaging worker)
**/web/firebase-messaging-sw.js

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Logs
*.log

# Firebase
lib/firebase/firebase_options.dart
lib/nothing.dart
